<%- include ../../partials/header.ejs %>
<article class="article">
    <div class="article__text article__text--without_left_img">
        <div class="sheet">
            <!-- Message -->
            <% if(messages.length > 0) { %>
                <div class="message">
                    <%= messages %>
                </div>
            <% } %>
            <!-- Header row -->
            <form action="" class="form" method="POST">
                <fieldset>
                    <label class="form__label" for="username">Username</label>
                    <input class="form__input" name="username" placeholder="Username" required><br>
                </fieldset>
                <fieldset>
                <label class="form__label" for="password">Password</label>
                <input class="form__input" type="password" name="password" placeholder="Password" required>
                </fieldset>
                <button class="sheet_row__button sheet_row__button--submit_add" type="submit">Sign in</button>
                <span>Don't have an account? <a href="/register" class="sheet_row__button" type="button">Register here</a></span>
            </form>
        </div>
    </div>
</article>
<%- include ../../partials/footer.ejs %>