<!-- The words for autoScrollBanner -->
<p class="autoScrollBanner__list">Hi!</p>
<p class="autoScrollBanner__list">Hei!</p>
<p class="autoScrollBanner__list">Hej!</p>
<p class="autoScrollBanner__list">Halo!</p>
<p class="autoScrollBanner__list">Cześć!</p>
<p class="autoScrollBanner__list">Hoi!</p>
<p class="autoScrollBanner__list">Hej!</p>
<p class="autoScrollBanner__list">Oi!</p>
<p class="autoScrollBanner__list">Hallo!</p>
<p class="autoScrollBanner__list">Ciao!</p>
<p class="autoScrollBanner__list">Privet!</p>
<p class="autoScrollBanner__list">¿Qué tal?</p>
<p class="autoScrollBanner__list">Salut!</p>
<p class="autoScrollBanner__list">Ahoj!</p>