<!--
File name: head.ejs
Student's name: Jongmin Park
Student Id: 301102292
Date: 22/10/2020
Stitched by Jonny with LOVE
-->
<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <title>
            <% if(page_name === 'aboutme') { %>About me - <% } %>
            <% if(page_name === 'projects') { %>Projects - <% } %>
            <% if(page_name === 'services') { %>Services - <% } %>
            <% if(page_name === 'contactme') { %>Contace me - <% } %>
            <% if(page_name === 'contacts') { %>Business Contacts List - <% } %>
            Jonny's Portfolio
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
        <script src="/javascripts/script.js" defer></script>
        <% if(page_name === 'index') { %>
        <script defer>
            // auto scrolling banner starter
            window.addEventListener('load', (event) => { autoRndBannerScrolling('.autoScrollBanner'); }); 
            setInterval(() => { autoRndBannerScrolling('.autoScrollBanner'); }, 2500);
        </script>
        <% } %>
        <% if(page_name === 'projects' || page_name === 'services') { %>
            <script defer>
                // auto scrolling article starter
                var int_for_loop = 1;
                setInterval(() => {
                    smoothScrollTo('.contents__box', int_for_loop);
                    if (int_for_loop === 2) {
                        int_for_loop = 0;
                    } else {
                        int_for_loop +=1;
                    }
                }, 2500);
            </script>
        <% } %>
    </head>
    <body>
        <div class="container">
            <div class="container__box">
                  <header class="header">
                    <div class="header header__logo">
                        <a class="logo__link" href="/"><img class="logo__image" src="/images/logo.png"></a>
                    </div>
                    <div class="header header__menu">
                        <nav class="menu">
                            <a class="menu__item<% if(page_name === 'aboutme') { %> menu__item--active<% } %>" href="/aboutme">About me</a>
                            <a class="menu__item<% if(page_name === 'projects') { %> menu__item--active<% } %>" href="/projects">Projects</a>
                            <a class="menu__item<% if(page_name === 'services') { %> menu__item--active<% } %>" href="/services">Services</a>
                            <a class="menu__item<% if(page_name === 'contactme') { %> menu__item--active<% } %>" href="/contactme">Contact me</a>
                        </nav>
                    </div>
                  </header>
                  <div class="contents">
                      <div class="contents__box">