<!--
File name: head.ejs
Student's name: Jongmin Park
Student Id: 301102292
Date: 8/10/2020
Stitched by Jonny with LOVE
-->
<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <title>
            <% if(page_name === 'aboutme') { %>About me - <% } %>
            <% if(page_name === 'projects') { %>Projects - <% } %>
            <% if(page_name === 'services') { %>Services - <% } %>
            <% if(page_name === 'contactme') { %>Contace me - <% } %>
            'Jonny's Portfolio'
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
        <script src="/javascripts/script.js" defer></script>
        <% if(page_name === 'index') { %>
        <script defer>
            // auto scrolling banner starter
            window.addEventListener('load', (event) => { autoRndBannerScrolling('.autoScrollBanner'); }); 
            setInterval(() => { autoRndBannerScrolling('.autoScrollBanner'); }, 2500);
        </script>
        <% } %>
    </head>