<article class="article">
    <img class="article__image" src="/images/project_aug_2020.png">
    <div class="article__text">
        <h1>Bug Catcher</h1>
        <h2>HTML+JS+CSS, Aug 2020</h2>
        <p>As the part of the final assement of 2nd semester, I developed the bug catcher game using JavaScript.</p>
    </div>
</article>
<article class="article">
    <img class="article__image" src="/images/project_apr_2020.png">
    <div class="article__text">
        <h1>Cafe Dodo</h1>
        <h2>HTML+JS+CSS, Apr 2020</h2>
        <p>As the part of the final assement of 1st semester, I developed the Cafe Dodo's website.</p>
    </div>
</article>
<article class="article">
    <img class="article__image" src="/images/project_jan_2020.png">
    <div class="article__text">
        <h1>Save the Jungle</h1>
        <h2>HTML+CSS, Jan 2020</h2>
        <p>This is the first project that I didn't followed the example in the book.</p>
    </div>
</article>