<article class="article">
    <img class="article__image" src="/images/test.jpg">
    <div class="article__text">
        <h1>Project1</h1>
        <h2>Project_Name</h2>
        <p>Desc</p>
    </div>
</article>
<article class="article">
    <img class="article__image" src="/images/test.jpg">
    <div class="article__text">
        <h1>Project2</h1>
        <h2>Project_Name</h2>
        <p>Desc</p>
    </div>
</article>
<article class="article">
    <img class="article__image" src="/images/test.jpg">
    <div class="article__text">
        <h1>Project3</h1>
        <h2>Project_Name</h2>
        <p>Desc</p>
    </div>
</article>