<article class="article">
    <img class="article__image" src="/images/service_web.png">
    <div class="article__text">
        <h1>Web Application</h1>
        <h2>Node.js, Express, EJS+</h2>
        <p>Web applicatioin is developed on Node.js with Express fornt end and EJS view templetes.</p>
        <p class="article__copyright"><span>Photo by <a class="article__copyright article__copyright--link" href="https://unsplash.com/@glenncarstenspeters?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Glenn Carstens-Peters</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
    </div>
</article>
<article class="article">
    <img class="article__image" src="/images/service_csharp.png">
    <div class="article__text">
        <h1>Simple C# Application</h1>
        <h2>C#, .net Framework</h2>
        <p>Simple application for Windows is developed on .net Framework using C#</p>
        <p class="article__copyright"><span>Photo by <a class="article__copyright article__copyright--link" href="https://unsplash.com/@windows?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Windows</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
    </div>
</article>
<article class="article">
    <img class="article__image" src="/images/service_python.png">
    <div class="article__text">
        <h1>Simple Python</h1>
        <h2>Python</h2>
        <p>Simple application using Python 3.x</p>
        <p class="article__copyright"><span>Photo by <a class="article__copyright article__copyright--link" href="https://unsplash.com/@clemhlrdt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Clément H</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
    </div>
</article>