<p class="hi-box__list">Hi!</p>
<p class="hi-box__list">Hei!</p>
<p class="hi-box__list">Hej!</p>
<p class="hi-box__list">Halo!</p>
<p class="hi-box__list">Cześć!</p>
<p class="hi-box__list">Hoi!</p>
<p class="hi-box__list">Hej!</p>
<p class="hi-box__list">Oi!</p>
<p class="hi-box__list">Hallo!</p>
<p class="hi-box__list">Ciao!</p>
<p class="hi-box__list">Privet!</p>
<p class="hi-box__list">¿Qué tal?</p>
<p class="hi-box__list">Salut!</p>
<p class="hi-box__list">Ahoj!</p>