<%- include ../partials/head.ejs %>
  <body>
      <div class="container">
          <div class="container__box">
                <header class="header">
                    <%- include ../partials/header.ejs %>
                </header>
                <div class="contents">
                    <div class="contents__box">
                        <article class="article">
                            <img class="article__image" src="/images/test.jpg">
                            <div class="article__text">
                                <div class="hi-box">
                                    <%- include ../partials/hibox.ejs %>
                                </div>
                                <p>This is <a href="/aboutme">my</a> portfolio site.</p>
                                <p>I'm learning Software Engineering at <a href="https://www.centennialcollege.ca/">Centennial College</a>.</p>
                                <p>I believe what I have to do is that to make the Internet better, faster, easier and support the techonology worth spreading.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <%- include ../partials/footer.ejs %>
            </footer>
      </div>
  </body>
</html>