<%- include ../../partials/header.ejs %>
                        <article class="article">
                            <div class="article__text--without_left_img">
                                <form class="form" method="POST">
                                    <label class="form__label" for="name">Name</label>
                                    <input class="form__input" id="name" name="name" placeholder="Name" required><br>
                                    <label class="form__label" for="phone">Phone</label>
                                    <input class="form__input" id="phone" name="phone" name="phone" placeholder="Phone" required><br>
                                    <label class="form__label" for="email">E-Mail</label>
                                    <input class="form__input" id="email" name="email" name="email" placeholder="E-Mail" required><br>
                                    <button class="form__submit" type="submit">Confirm</button>
                                    <button class="form__button">Cancel</button>
                                </form>
                            </div>
                        </article>
<%- include ../../partials/footer.ejs %>