<%- include ../partials/header.ejs %>
                        <article class="article">
                            <img class="article__image" src="/images/portrait.png">
                            <div class="article__text">
                                <h1>Hello! My name is...</h1>
                                <h2>Bonjour! Je m'appelle...</h2>
                                <p><strong>Jongmin Park</strong></p>
                                <ul>
                                    <li class="article__list"><sup>Languages:</sup>English, Korean</li>
                                    <li class="article__list"><sup>Programming:</sup>C#, Python, JS/TS</li>
                                    <li class="article__list"><sup>Skills:</sup>Node.js, Docker</li>
                                </ul>
                                <br>
                                <p>Need to my resume? <a href="files/resume.pdf">Check here</a></p>
                            </div>
                        </article>
<%- include ../partials/footer.ejs %>