<%- include ../partials/header.ejs %>
                        <article class="article">
                            <img class="article__image" src="/images/index.jpg">
                            <div class="article__text">
                                <div class="autoScrollBanner">
                                    <%- include ../partials/autoscrollbanner.ejs %>
                                </div>
                                <p>Thank you for visiting <a href="/aboutme">my</a> portfolio site.<br>
                                If you want to know what I'be done, check <a href="/projects">here</a>.<br>
                                Or, you can see which <a href="/services">skills</a> I have.<br>
                                You can reach me by these <a href="/contactme">ways</a>.</p>
                                <p>I believe what I have to do is that to make the Internet better, faster, easier and support the techonology worth spreading.</p>
                            </div>
                        </article>
<%- include ../partials/footer.ejs %>